html,
body,
header,
#about {
  height: 100%;
}

#about {
  background: url("/img/penalty.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100%;
  padding-top: 100px;

  h1 {
    padding-bottom: 5px;
    color: #22ccde;
  }

  p {
    padding-top: 5px;
  }

  .fa-arrow-down {
    color: #22ccde;
  }

  .about-text {
    padding: 20px;
    text-align: left;
    font-size: 12px;
  }
}

@media (min-width: 481px) {
  #about {
    .row {
      margin-right: 220px;
    }

    p {
      padding-top: 20px;
    }

    .about-text {
      font-size: 18px;
    }
  }
}