#services {
  padding-top: 100px;

  h1 {
    padding-bottom: 20px;
    color: #22ccde;
  }

  h4 {
    padding-top: 20px;
  }

  .info {
    padding-bottom: 40px;
  }

  .fas {
    color: #22ccde;
  }

  .lower-row {
    padding-top: 40px;
  }
}

@media (min-width: 481px) {
  html,
  body,
  header,
  #services {
    height: 100%;
  }
}