{{ define "main" }}
<article id="blog-post">
<!--  <img src="{{ .Params.Image }}" />-->
  <nav id="navigation">
    <div class="container">
      <a href="/"><i class="fa-solid fa-house"></i></a>
      <a href="/"><i class="fa-solid fa-blog"></i></a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div id="blog-post-meta">
        <img src="/img/joe.jpg" alt="Joe Sweeny" class="author-img">
        <div>
          <p class="author-name">{{ .Params.Author }}</p>
          <p>{{ .Date.Format "Jan 2, 2006" }} &#x2022; {{ math.Round (div (countwords .Content) 220.0) }} min read</p>
          <p></p>
        </div>
      </div>
    </div>
    <h1>{{ .Title }}</h1>
    <div id="blog-content">
      <p>{{ .Content }}</p>
    </div>
  </div>
</article>
{{ end }}
