@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    background-color: #28282b;
    font-family: 'Maven Pro', sans-serif;
    color: ghostwhite;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Banner */
#banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    cursor: default;
    height: 100vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
    align-items: center;
}

#banner-logo {
    top: 40px;
    position: fixed;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

#banner-logo-ball {
    height: 50px;
    width: 50px;
}

#banner-logo-text {
    height: 30px;
    padding-top: 10px;
}

#banner-button {
    position: fixed;
    bottom: 30px;
}

#banner-video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.50;
}

/* Larger than mobile */
@media (min-width: 400px) {
    #banner-logo {
        top: 40px;
    }

    #banner-button {
        bottom: 40px;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    #banner-logo {
        top: 70px;
    }

    #banner-logo-ball {
        height: 70px;
        width: 70px;
    }

    #banner-logo-text {
        height: 50px;
        padding-top: 10px;
    }

    #banner-button {
        bottom: 50px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    #banner-logo {
        top: 80px;
    }

    #banner-logo-ball {
        height: 70px;
        width: 70px;
    }

    #banner-logo-text {
        height: 50px;
        padding-top: 10px;
    }

    #banner-button {
        bottom: 80px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    #banner-logo {
        top: 60px;
    }

    #banner-button {
        bottom: 60px;
    }

    #banner-video {
        position: fixed;
    }
}
