/* Contains overrides for elements provided by the Skeleton library */

i {
    font-size: 62px;
    padding: 20px;
    color: #1EAEDB80;
}

h1 {
    font-family: 'Patua One', cursive;
    color: #28282b;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Patua One', cursive;
    color: #28282b;
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Patua One', cursive;
    color: #28282b;
    padding-bottom: 10px;
    font-size: 24px;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    button {
        padding: 0 60px;
        height: 50px;
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    h1 {
        font-size: 42px;
    }

    i {
        font-size: 72px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 28px;
    }
}
