<section id="contact">
  <div class="container">
    <h1>Get In Touch</h1>
    <div class="row">
      <a href="https://twitter.com/statistico_tech" target="_blank">
        <div class="six columns contact-card">
          <i class="fa-brands fa-twitter"></i>
          <h2>@statistico_tech</h2>
        </div>
      </a>
      <a href="mailto:hello@statistico.io">
        <div class="six columns contact-card">
          <i class="fa-solid fa-envelope"></i>
            <h2>hello@statistico.io</h2>
        </div>
      </a>
    </div>
  </div>
</section>
