<head>
  <meta charset="UTF-8" />
  <title>
    {{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ .Site.Title }}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{ .Site.Params.favicon }}" />
  {{ $skeleton := resources.Get "css/skeleton.css" | minify | fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $skeleton.RelPermalink }}" integrity="{{ $skeleton.Data.Integrity }}">
  {{ $normalize := resources.Get "css/normalize.css" | minify | fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $normalize.RelPermalink }}" integrity="{{ $normalize.Data.Integrity }}">
  {{ $main := resources.Get "css/main.css" | minify | fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}">
  {{ $blog := resources.Get "css/blog.css" | minify | fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $blog.RelPermalink }}" integrity="{{ $blog.Data.Integrity }}">
  {{ $styles := resources.Get "css/styles.css" | minify | fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
</head>
