<section id="info">
  <div class="container">
    <div class="row">
      <h1>The building blocks of Statistico</h1>
    </div>
    <div class="row">
      <div class="six columns card">
        <i class="fa-solid fa-question"></i>
        <h3>What is Statistico</h3>
        <p>
          Statistico is the statistics-led emotion-free automated trading experience. We actively build and maintain
          a collection of applications that use football statistics and machine learning models to determine the
          probabilities of sporting events occurring such as goals scored, number of corners, total fouls and/or
          cards in a football match.
        </p>
      </div>
      <div class="six columns card">
        <i class="fa-solid fa-thumbs-up"></i>
        <h3>Learn From Mistakes</h3>
        <p>
          Many failed traders fail due to human initiated errors. Human emotions and impulses
          can lead to erratic decision-making, trades placed on “gut feeling”, normally leading to larger than normal
          stakes placed. Combine this with no real long term strategy leads to a lack of consistency and many a trader’s
          bankroll diminishes when the dreaded and inevitable chase hits.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="six columns card">
        <i class="fa-solid fa-brain"></i>
        <h3>Our Philosophy</h3>
        <p>
          Statistico is an ecosystem that eliminates all human impulse providing consistency from machine led selections
          through to automated strategy processes removing emotion and impulse from every step of the pipeline. Statistico
          is an experience that leans heavily on letting the machine, not the human, do the work.
        </p>
      </div>
      <div class="six columns card">
        <i class="fa-solid fa-chart-line"></i>
        <h3>Stats Driven Consistency</h3>
        <p>
          Monitoring key historical statistics and using machine learning algorithms that continually adapt and improve
          alongside defined trading strategies, Statistico provides a consistent long term and automated trading solution.
        </p>
      </div>
    </div>
  </div>
</section>