<section id="how-it-works">
  <div class="container">
    <div class="row">
      <h1>How It Works</h1>
    </div>
    <div class="row">
      <div class="twelve columns how-it-works-card">
        <img src="{{ .Site.Params.howItWorks.exchangeMobile }}" alt="exchange-mobile" class="mobile-img" />
        <div class="mobile-info">
          <div class="how-it-works-title">
            <img src="{{ .Site.Params.logo.ball }}" alt="statistico-ball-logo" class="how-it-works-ball" />
            <h3>Step 1</h3>
          </div>
          <p>
            Betting exchanges compile and publish odds for different events to occur during different sports
            contests. Odds are simply the probabilities of these events occurring represented most commonly in decimal or
            fractional notion.
          </p>
          <p>
            Statistico integrates with leading betting exchanges to programmatically ingest odds
            when they are published into the Statistico technology ecosystem.
          </p>
          <p>
            Let's use the Over/Under 2.5 Goals market for the West Ham vs Aston Villa match as an example.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns how-it-works-card">
        <img src="{{ .Site.Params.howItWorks.statisticoMobile }}" alt="statistico-mobile" class="mobile-img" />
        <div class="mobile-info">
          <div class="how-it-works-title">
            <img src="{{ .Site.Params.logo.ball }}" alt="statistico-ball-logo" class="how-it-works-ball" />
            <h3>Step 2</h3>
          </div>
          <p>
            At Statistico we in turn compile our own odds for the same events. Machine learning models, using key
            statistically relevant parameters and a custom rating system, are used.
          </p>
          <p>
            Referring to the West Ham vs Aston Villa match mentioned above, the exchange published odds of <b>1.76</b> for under
            2.5 goals and 2.28 for over 2.5 goals. Statistico published odds of <b>1.72</b> for under 2.5 goals and 2.39 for over
            goals. Both Statistico and the exchange believe the game will result in less than 2.5 goals scored.
          </p>
          <p>
            Converting these odds back to probabilities the exchange suggests there is a <b>57%</b> chance of under
            2.5 goals being scored whereas Statistico suggests there is a <b>58%</b> chance.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns how-it-works-card">
        <img src="{{ .Site.Params.howItWorks.statisticoTablet }}" alt="statistico-tablet" class="tablet-img" />
        <div class="mobile-info">
          <div class="how-it-works-title">
            <img src="{{ .Site.Params.logo.ball }}" alt="statistico-ball-logo" class="how-it-works-ball" />
            <h3>Step 3</h3>
          </div>
          <p>
            If the compiled Statistico odds suggests there is a higher probability of an event occurring than the
            exchange suggests then <b>a trade is placed</b> using technology integrations with leading betting exchanges.
          </p>
          <p>
            Alternatively if the Statistico odds suggests there is a lesser probability of an event occurring than
            the exchanges, <b>no trade is placed</b>.
          </p>
          <p>
            Over time Statistico exposes inefficiencies in the probabilities published by betting exchanges
            and uses automation and technology to provide a consistent profit returning trading solution.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>